@font-face {
  font-family: "rl";
  src: url(Fonts/Raleway-Light.ttf);
}

@font-face {
  font-family: "rb";
  src: url(Fonts/Raleway-Bold.ttf);
}

* {
  font-family: "rl";
}

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  font-family: "rs";
  scroll-behavior: smooth;
}

.inicio {
  display: flex;
  flex-direction: column;
  background-color: #252934;
  color: white;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  font-size: 32pt;
  line-height: 36pt;
  text-align: center;
}

.btnstart {
  color: white;
  background-color: #252934;
  border: 2px solid #fff;
  font-size: 13pt;
  padding: 1px 20px 1px 20px;
  margin-top: 20px;
  transition: all 0.5s;
  border-radius: 10px;
}

.btnstart:hover {
  color: #252934;
  background-color: #00ffff;
  box-shadow: 0px 0px 25px #4bffff;
  border: 2px solid #fff;
  border-radius: 20px;
  font-size: 15pt;
  font-weight: 900;
}

#ab {
  width: 100%;
  height: 100%;
}

.about {
  background-color: white;
  color: #424242;
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
}

.caract {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 0px 50px 0px;
  font-size: 22pt;
  width: 700px;
  height: 300px;
}

#icons {
  position: relative;
  top: 8.7rem;
  font-size: 65px;
  color: white;
}

#hexa {
  font-size: 210px;
  color: #28c2c8;
}

#texto {
  position: relative;
  bottom: 0.5rem;
  font-size: 13pt;
  color: #747474;
  font-weight: 600;
}

#titu {
  position: relative;
  bottom: 1rem;
  font-weight: 900;
  font-family: "rb";
  text-decoration: underline;
}

.titulos {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
  font-family: "rb";
  font-size: 30pt;
  color: #444649;
  font-weight: 100;
  flex-direction: column;
}

.barra {
  margin: 15px 0 30px 0;
  height: 4px;
  width: 70px;
  background-color: #444649;
}

.about2{
  display: flex;
  width: 100%;
  flex-direction: row;
}

.me{
  display: flex;
  width: 50%;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-left: 30px;
}

#qs{
  font-family: "rb";
  font-size: 21pt;
  font-weight: 900;
  color: #424242;
  margin: 20px 0 15px 0;
  text-decoration: underline;
}

#qst{
  font-family: "rl";
  color: #747474;
  text-align: center;
  font-size: 12pt;
  line-height: 18pt;
  width: 500px;
  font-weight: 600;
}

.specs{
  display: flex;
  width: 50%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-right: 30px;
}

.niv{
  display: flex;
  flex-direction: row;
  margin-bottom: 25px;
}

.niv div{
  margin: 0px 40px 0px 40px;
  display: flex;
  flex-direction: row;
}

.len{
  text-align: center;
  justify-content: center;
  color: #fff;
  font-weight: 500;
}

.len div{
  width: 650px;
  height: 25px;
  margin: 40px 0px 40px 0px;
}

.niv span{
  margin-left: 10px;
  margin-right: 10px;
}

.niv div:nth-child(1){
  color: #5fd8a6;
}

.niv div:nth-child(2){
  color: #00663f;
}

.niv div:nth-child(3){
  color: #4EC3E0;
}

.niv div:nth-child(4){
  color: #F4364C;
}

.material-symbols-rounded {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

.len div:nth-child(1){
  background-color: #00663f;
}

.len div:nth-child(2){
  background-color: #00663f;
}

.len div:nth-child(3){
  background-color: #5fd8a6;
}

.len div:nth-child(4){
  background-color: #4EC3E0;
}

.len div:nth-child(5){
  background-color: #5fd8a6;
}

.len div:nth-child(6){
  background-color: #5fd8a6;
}

.len div:nth-child(7){
  background-color: #5fd8a6;
}