@font-face {
  font-family: "rl";
  src: url(Fonts/Raleway-Light.ttf);
}

@font-face {
  font-family: "rb";
  src: url(Fonts/Raleway-Bold.ttf);
}

@font-face {
  font-family: "po";
  src: url(Fonts/Poppins-Light.ttf);
}

* {
  font-family: "rl";
  box-sizing: border-box  ;
}

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: "rs";
  scroll-behavior: smooth;
}

.inicio {
  display: flex;
  flex-direction: column;
  background-color: #252934;
  color: white;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  font-size: 32pt;
  line-height: 36pt;
  text-align: center;
}

.btnstart {
  color: white;
  background-color: #252934;
  border: 2px solid #fff;
  font-size: 13pt;
  padding: 1px 20px 1px 20px;
  margin-top: 20px;
  transition: all 0.5s;
  border-radius: 10px;
}

.btnstart:hover {
  color: #252934;
  background-color: #00ffff;
  box-shadow: 0px 0px 25px #4bffff;
  border: 2px solid #fff;
  border-radius: 20px;
  font-size: 15pt;
  font-weight: 900;
  cursor: pointer;
  transition: all 0.5s;
}

#ab {
  width: 100%;
  height: auto;
}

.about {
  background-color: white;
  color: #424242;
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
}

.caract {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 0px 50px 0px;
  font-size: 22pt;
  width: 700px;
  height: 300px;
}

#icons {
  position: relative;
  top: 8.7rem;
  font-size: 65px;
  color: white;
}

#hexa {
  font-size: 210px;
  color: #28c2c8;
}

#texto {
  position: relative;
  bottom: 0.5rem;
  font-size: 13pt;
  color: #747474;
  font-weight: 600;
}

#titu {
  position: relative;
  bottom: 1rem;
  font-weight: 900;
  font-family: "rb";
  text-decoration: underline;
}

.titulos {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-top: 50px;
  font-family: "rb";
  font-size: 30pt;
  color: #444649;
  font-weight: 100;
  flex-direction: column;
}

.barra {
  margin: 15px 0 30px 0;
  height: 4px;
  width: 70px;
  background-color: #444649;
  border-radius: 10px;
}

.about2{
  display: flex;
  width: 100%;
  flex-direction: row;
  margin-bottom: 100px;
}

.me{
  display: flex;
  width: 50%;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-left: 30px;
}

#qs{
  font-family: "rb";
  font-size: 21pt;
  font-weight: 900;
  color: #424242;
  margin: 20px 0 15px 0;
  text-decoration: underline;
}

#qst{
  font-family: "rl";
  color: #747474;
  text-align: center;
  font-size: 12pt;
  line-height: 18pt;
  width: 500px;
  font-weight: 600;
}

.specs{
  display: flex;
  width: 50%;
  flex-direction: column;
  justify-content: center;
  margin-right: 30px;
}

.ht{
  display: flex;
  flex-direction: row;
  background-color: #EEEEEE;
  width: 550px;
  height: 28px;
  padding-right: 15px;
  margin-bottom: 25px;
}

.nm{
  display: flex;
  flex-basis: 100px;
  color: white;
  background-color: #03C2C9;
  height: 28px;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 15px;
}

.azl{
  width: 450px;
}

.azl div{
  border-radius: 0 20px 20px 0;
  background-color: #01A1A7;
  height: 28px;
}

#ht{
  animation: ht 2.5s forwards;
}

#cs{
  animation: cs 2.5s forwards;
}

#js{
  animation: js 2.5s forwards;
}

#py{
  animation: py 2.5s forwards;
}

#rb{
  animation: rb 2.5s forwards;
}

#an{
  animation: an 2.5s forwards;
}

#ns{
  animation: ns 2.5s forwards;
}

#c{
  animation: c 2.5s forwards;
}

@keyframes ht{
  0%{width: 0;}
  100%{width: 65%;}
}

@keyframes cs{
  0%{width: 0;}
  100%{width: 55%;}
}

@keyframes js{
  0%{width: 0;}
  100%{width: 35%;}
}

@keyframes py{
  0%{width: 0;}
  100%{width: 35%;}
}

@keyframes rb{
  0%{width: 0;}
  100%{width: 30%;}
}

@keyframes an{
  0%{width: 0;}
  100%{width: 35%;}
}

@keyframes ns{
  0%{width: 0;}
  100%{width: 35%;}
}

@keyframes c{
  0%{width: 0;}
  100%{width: 35%;}
}

#tit{
  font-size: 26px;
  padding-top: 0;
  margin-top: 0;
  align-items: flex-start;
  font-family: "rl";
  font-weight: 500;
}

#bar{
  width: 105px;
  height: 1.4px;
  margin: 5px 0 30px 0;
}

#ex{
  width: 100%;
  min-height: 100%;
  height: auto;
  background-color: #e7e7e7;
}

.experiencia{
  display: flex;
  justify-content: center;
  flex-direction: row;
}

#bar2{
  width: 40px;
  min-height: 8.5px;
  margin-bottom: 0;
  border-radius: 0;
}

#linea{
  background-color: #28c2c8;
  width: 40px;
  height: 100%;
  border-radius: 0 0 25px 25px;
  margin-bottom: 25px;
  z-index: 2;
}

.carteles{
  display: flex;
  min-height: 40px;
  width: 150px;
  text-align: center;
  align-items: center;
  justify-content: center;
  color: rgb(31, 31, 31);
  font-weight: 600;
  border-radius: 50px;
  background: #81d4d9;
  box-shadow:  7px 7px 15px #67aaae,
               -7px -7px 15px #9bfeff;
  cursor: pointer;
  transition: 0.5s;
  margin-bottom: 0px;
}

.contc{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
}

.activado{
  z-index: 2;
  border-radius: 12px 12px 0 0;
  background: #81d4d9;
  box-shadow: inset 5px 5px 10px #67aaae,
              inset -5px -5px 10px #9bfeff;
  width: 200px;
  transition: 0.5s;
}

.oculto{
  visibility: visible !important;
  opacity: 1 !important;
  display: flex !important;
}

.cartelact{
  display: flex;
  z-index: 1;
  border-radius: 0px;
  background: linear-gradient(315deg, #e6e6e6, #ffffff);
  box-shadow:  -7px -7px 9px #d9d9d9,
               7px 7px 9px #ffffff;
  padding: 10px;
  text-align: start;
  justify-content: center;
  align-items: center;
  font-size: 17px;
  font-family: "po";
  color: #6d6d6d;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.7s linear;
  display: none;
}

a:hover{
  color: #81d4d9 !important;
  border-bottom: 1px dashed #81d4d9 !important;
  transition: all 0.3s;
  font-weight: 900;
}

a, a:link, a:visited {
  text-decoration: none;
  color: #6d6d6d;
  border-bottom: 1px dashed #6d6d6d;
}

.adms{
  border: none;
  font-size: 17px;
  color: #6d6d6d;
  text-decoration: underline;
  position: relative;
  right: 5px;
}

.adms:hover{
  color: #81d4d9;
  transition: all 0.5s;
  font-weight: 900;
}

.admscart{
  background-color: #e0e0e0;
  box-shadow: 5px 5px 10px rgba(0,0,0,0.75);
  border: 1px solid #000000 ;
  position: relative;
  bottom: 315px;
  left: 180px;
  z-index: 1;
  padding: 10px;
  color: rgb(48, 48, 48);
  opacity: 0;
  border-radius: 6px;
  transition: all 0.2s;
}
.triang{
  position: relative;
  bottom: 75px;
  right: 181px;
  rotate: -90deg;
  padding: 0px;
}

.admscarton {
  opacity: 1 !important;
}

#mic{
  margin-top: 200px;
}

#arc{
  margin-top: 200px;
}

#pyc{
  margin-top: 200px;
}

#qbas{
  margin-top: 200px;
}

#qbass{
  margin-bottom: 25px;
}

.triangl1{
  color: #28c2c8;
  position: relative;
  bottom: 500px;
  right: 28px;
  rotate: -90deg;
  z-index: 0;
  font-size: 100px;
}
